.select {
    color: #BDBDBD !important;
    cursor: pointer !important;
}

.select.active, .select:hover {
    color: #369FFF !important;
    background-color: none !important;
    text-decoration: underline!important;
}

.histWrapper {
    margin-top: 8px;
    width: 100%;
    height: 75%;
    overflow: scroll;
    background-color: #369FFF;
}

.orange {
    color: #FFB168;
}