.select {
    color: #BDBDBD !important;
    cursor: pointer !important;
}

.select.active, .select:hover {
    color: #369FFF !important;
    background-color: none !important;
    text-decoration: underline!important;
}

.histWrapper {
    margin-top: 8px;
    width: 100%;
    height: 75%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.orange {
    color: #FFB168;
}

.blue {
    color: #65B5FF;
}

.green {
    background-color: #D3EEBE !important;
}